*{
    margin:0;
    padding:0;
box-sizing: border-box;
color: white;
}

body{
    background-color: #0c1434;
    
}


form{
text-align: left;
    width: 23rem;
    padding-top: 3rem;
}

input, button{
    margin:0 2rem 1rem 2rem;
    height: 2.3rem;
       color: #14162c;
       border-radius: 5px;
 
}
input{
    width: 85%;
    padding-left: 0.5rem;
}
input[type=radio]{
    width: fit-content;
    border-radius: 0;
    float: left;
    margin-right: 0;
}

label{
    margin-left: 2.3rem;
}
select{
    color: #0c1434;
    margin-bottom: 2rem;
}
option{
    color: #0c1434;
}
button{
    width: 85%;
    padding: 0.2rem 1rem 0.2rem 1rem; 
}

.content {
    padding-top: 2rem;
    margin: auto;
    text-align: center;
}

.form{
    border: #fff solid 2px;
    border-radius: 6px;
    width: 25rem;
margin: auto;
text-align: center;

}

p{
    margin: 2rem;
}

.allowed{
    margin-right: 4rem;
}

.welcome{
    padding-top: 3rem;
    margin: auto;
    text-align: center;
    font-size: 4rem;
    font-weight: 2000;
}
ol{
    display: inline-block;
    color: white;
    width: 40rem;
    text-align: left;
}
li  p{
    margin-top: 0;
    margin-bottom: 1rem;
}

li span{
    margin-left:3rem;
}

@media screen and (max-width: 600px){
.form{
width: 100%
}
form{
    width: 100%;
}

.allowed{
    display: block;
    width: 100%;
}
.denied{
    display: block;
width: 100%;    
}
ol{
    width: 100%;
   display: block;
}
li span{
    margin-left: 0.3rem;
}
}